extends layout

block content
  a(href="/")
    h1= title
  p Welcome to #{title}
  ol
    li Install 
        a(href="https://chrome.google.com/webstore/detail/chromephp/noaneddfkdjfnfdakjjmocngnfkfehhd") Chrome Logger
    li Turn the Chrome Logger and Developer Tool's Console on
    li Browse this&nbsp;
        a(href="/345/qwe?uid=3&name=test") link