doctype 5
html
  head
    title= title
  body
    block content
    a(href='https://github.com/flyworld/express-chromeLogger-seed')
        img(style='position: absolute; top: 0; right: 0; border: 0;', src='https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png', alt='Fork me on GitHub')

